body {
    margin: 20px;
}

.card {
    background: rgb(52, 52, 167);
    padding: 30px;
    color: white;
    font-family: "Helvetica";
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0px auto;
}

.profile-info {
    margin-left: 25px;
    text-align: center;

}

.bottom-border {
      border-bottom: 20px solid rgb(4, 4, 63);
}